* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: blue;
}

article {
    float: left;
    width: 40%;
    height: auto;
    background-color: rgb(255, 0, 191);
    padding: 20px;
    margin-left: 6%;
    margin-top: 3%;
}

@media (max-width: 600px) {
    nav, article{
        width: 89%;
        height: auto;
    }
}